# NPM - prevent Git history noise when `npm` and `prettier` format against each other
package.json
package-lock.json

# build output
/dist/**

# GitHub Pages scripts
/docs/javascripts

# vendored third party CSS reset, also excluded in `cspell.config.yaml`
/docs/stylesheets/modern-normalize.css
